<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <div id="app">
        <div>
            <label>
                用户名：
                <input type="text" v-model="input.username">
            </label>
        </div>
        <div>
            <label>
                密码：
                <input type="password" v-model="input.password">
            </label>
        </div>
        <button @click="login">登录</button>
    </div>

    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.0.11/vue.global.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="common.js"></script>
    <script>
        const app = {
            data() {
                return {
                    input: {
                        username: '',
                        password: '',
                    },
                }
            },

            methods: {
                login() {
                    const resp = ajaxPost('login-by-pswd', {
                        username: this.input.username,
                        password: this.input.password,
                    })
                    if (resp) {
                        if (resp.error === 'invalid') {
                            alert("用户名或密码错误！");
                            this.input.password = '';
                        } else {
                            storeToken(resp.token);
                            window.location.href = 'index.html';
                        }
                    }
                },
            },
        };
        Vue.createApp(app).mount('#app');
    </script>
</body>
</html>